@model Product


<form asp-controller="Admin" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Name">Product name</label>
        <input asp-for="Name" class="form-control" placeholder="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="@Model.Description" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="@Model.Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    @*     <div class="form-group">
    <label >Image</label>
    <input asp-for="Image" class="form-control" placeholder="Image Url/file" />
    </div> *@
    <label>Product type</label>
    <select  class="form-select" name="ProductTypeName" aria-label="Default select example">
        @* <option selected>Choose a type</option> *@

        @foreach (string productName in (List<string>)ViewData["ProductNameList"])
        {
            @if (productName == "Misc")
            {
                <option value="@productName" selected="@productName" name="ProductTypeName">@productName</option>
            }
            else
            {
                <option value="@productName" name="ProductTypeName">@productName</option>
            }
            
        }
    </select>
    <div class="form-group" hidden>

        <input asp-for="Id" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success" role="button">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
